

.chance-of-rain {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rain-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.rain-chart-row {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rain-chart-label {
  color: white;
  text-align: center;
  font-family: mainfont;
}

.rain-chart-bar-container {
  height: 100%;
  width: 60%;
  background-color: white;
  border-radius: 600px;
  overflow: hidden;
  position: absolute;
  right: 80px;
}

.rain-chart-bar {
  height: 100%;
  background-color: lightseagreen;
  border-radius: 600px;
  animation-name: getLarge;
  animation-duration: 1s;
}
