.search-page {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-direction: column;
  background-image: url("./../../assets/medias/AdobeStock_456359517.jpeg");
  background-size: cover;
  background-position: 50%;
}

.search-page-title {
  font-family: mainfont;
  font-size: 4rem;
  color: #20b2aa;
  background-color: white;
  width: 500px;
  text-align: center;
  border-radius: 300px;
  padding: 30px 0;
}

.search-page-container {
  width: 100px;
  position: relative;
  height: 100px;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  border-radius: 300px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  transition: 1s;
  justify-content: right;
}

.search-page-container.active {
  width: 50%;
  gap: 50px;
  padding-right: 20px;
}

.search-page-button {
  height: 100px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 300px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
  position: absolute;
  left: 0;
  background-color: lightseagreen;
}

.search-page-button:hover {
  background-color: rgb(28, 146, 140);
}

.search-page-button svg {
  width: 70%;
  stroke: white;
}

.search-page-input {
  width: 80%;
  box-sizing: border-box;
  padding: 0 30px;
  height: 60%;
  background-color: rgb(30, 163, 157);
  font-family: mainfont;
  font-size: 40px;
  color: white;
  border-radius: 300px;
  border: none;
  outline: none;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@keyframes ldio-0rjg6ovwgsx9 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-0rjg6ovwgsx9 div { box-sizing: border-box!important }
.ldio-0rjg6ovwgsx9 > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #20b2aa transparent #20b2aa transparent;
  animation: ldio-0rjg6ovwgsx9 1s linear infinite;
}
.ldio-0rjg6ovwgsx9 > div:nth-child(2) { border-color: transparent }
.ldio-0rjg6ovwgsx9 > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-0rjg6ovwgsx9 > div:nth-child(2) div:before, .ldio-0rjg6ovwgsx9 > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #20b2aa;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #20b2aa;
}
.ldio-0rjg6ovwgsx9 > div:nth-child(2) div:after { 
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #20b2aa;
}
.loadingio-spinner-dual-ring-r69mfkuutfh {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-0rjg6ovwgsx9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-0rjg6ovwgsx9 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
