@import url(./../../fonts.css);

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-width: 300px;
  height: 100vh;
  align-items: center;
  background-color: transparent;
  box-shadow: 0px 1px 30px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 30px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 30px -16px rgba(0, 0, 0, 0.75);
}

.nav-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.nav-logo {
  width: 100px;
  padding: 50px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav-link {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.nav-link.active * {
  stroke: lightseagreen;
  stroke-width: 2px;
  color: lightseagreen;
  font-weight: 600;
}

.nav-link svg {
  width: 25px;
  stroke: gray;
}

.nav-link span {
  font-family: mainfont;
  color: gray;
  font-size: 20px;
}


.nav-bottom {
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}